<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../abas-dashboard-state/abas-dashboard-state-meta.html">

<link rel="import" href="../google-map/google-map.html" />
<link rel="import" href="../google-map/google-map-marker.html" />
<link rel="import" href="../google-map/google-map-search.html" />


<dom-module id="aba-record-map-widget">
	<template>
		<abas-config-meta data="{{_configuration}}"></abas-config-meta>
		<abas-dashboard-state-meta user-info={{_userInfo}}></abas-dashboard-state-meta>

		<style include="abas-widget-style">
			.map {
				border-radius: 5px;
				overflow: hidden;
				/* height: 100%; */
				height: 100%;
			}
			
			#header + .map {
				height: calc(100% - 38px);
			}

			google-map {
				width: 100%;
			}

			.flex-container-vertical {
				display: flex;
				flex-direction: column;
			}

			.flex-container-horizontal {
				display: flex;
				flex-direction: row;
			}

			table.dataTable {
				width: 100%;
				border-collapse: collapse;
			}

			table.dataTable thead tr th {
				position: sticky;
				top: -8px;
				background: white;
				color: #777d81;
				font-size: 10px;
				white-space: nowrap;
				font-weight: normal;
				text-decoration: underline;
				padding: 2px 4px 2px;
			}

			table.dataTable tbody tr td {
				border-width: 0px 0 0px 0;
				border-style: solid;
				border-color: #cccccc;
				font-size: 14px;
				font-weight: normal;
				color: #2a3539;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 100px;
				border-right-width: 1px;
				padding: 1px 4px;
			}

			table.dataTable tbody tr td:first-child {
				border-left-width: 1px;
			}

			table.dataTable tbody tr:last-of-type td {
				border-bottom-width: 1px;
			}

			table.dataTable tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.dataTable tbody tr:nth-child(even) td {
				background: #f0f4f7;
			}

			table.dataTable tbody tr:nth-child(odd) td {
				background: #ffffff;
			}

			table.dataTable tbody tr:hover td {
				background: #e4f5f2;
			}
		</style>

		<aba-widget>
			<div slot="content">
				<google-map-search id="gps" map="[[map]]" query="[[mapQuery]]" results="{{ googleMapsResults }}">
				</google-map-search>
				<template is="dom-if" if="[[widgetTitle]]">
					<abas-inplace-header id="header">[[widgetTitle]]</abas-inplace-header>
				</template>
				<div class="map">
					<google-map map="{{ map }}" id="map" fit-to-markers longitude="[[googleMapsResultsLongitude]]"
						latitude="[[googleMapsResultsLatitude]]" api-key="[[googleMapsApiKey]]" disable-map-type-control
						disable-street-view-control singleInfoWindow styles="[[mapStyles]]">
						<template is="dom-repeat" items="{{ googleMapsResults }}" as="marker">
							<google-map-marker latitude="{{ marker.latitude }}" longitude="{{ marker.longitude }}">
								<h2>{{ marker.name }}</h2>
								<span>{{ marker.formatted_address }}</span>
							</google-map-marker>
						</template>
					</google-map>
				</div>
			</div>

			<template is="dom-if" if="[[editMode]]">
				<div slot="settingsForm">
					<ui-text-field label="[[localize('settings.title')]]" text="{{widgetTitle}}"></ui-text-field>
					<ui-companyselector selected-company="{{selectedCompany}}"></ui-companyselector>
					<ui-text-field label="[[localize('settings.google.maps.api.key')]]" text="{{googleMapsApiKey}}">
					</ui-text-field>
					<a rel="noopener noreferrer" href="https://developers.google.com/maps/documentation/javascript/get-api-key"
						target="_blank">[[localize('requestAPIKey')]]</a>

					<h4>[[localize('settings.communication.subscriptions')]]</h4>
					<ui-text-field label="[[localize('settings.communication.messagebus')]]" text="{{messageChannel}}">
					</ui-text-field>
					<br />
					<ui-auto-complete label="[[localize('settings.database.add')]]"
						placeholder="[[localize('settings.database.add')]]" items="[[_databaseList]]"
						on-item-select="_onTapAddSubscription"></ui-auto-complete>
					<br />
					<table class="dataTable">
						<thead>
							<tr>
								<th scope="col" style="width: 100px;">[[localize('settings.table.database.topic')]]</th>
								<th scope="col">[[localize('settings.table.database.fields')]]</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<template is="dom-repeat" items="[[subscriptions]]" as="subscription">
								<tr>
									<td style="text-align: center">
										[[subscription.topic]]
									</td>
									<td>
										<div class="flex-container-horizontal">
											<template is="dom-repeat" items="[[subscription.fields]]" as="field"
												index-as="field_index" sub="[[index]]">
												<abas-function-button icon="times" on-tap="_deleteField"
													title="[[field]]">[[field]]</abas-function-button>
											</template>
										</div>
										<template is="dom-if" if="{{_subIsInEditMode(_activeIndex, index)}}">
											<ui-auto-complete label="[[_getLabelFor(subscription.topic)]]"
												items="[[_databaseMetadata]]" on-item-select="_addField">
											</ui-auto-complete>
										</template>
									</td>
									<td style="width: 15em" class="text-align-center"
										title="[[localize('settings.edit.label')]]">
										<abas-icon icon="pencilAlt" on-tap="_onTapEditSubscription"></abas-icon>
									</td>
									<td style="width: 15em" class="text-align-center"
										title="[[localize('settings.remove.label')]]">
										<abas-icon icon="trashAlt" on-tap="_onTapDeleteSubscription"></abas-icon>
									</td>
								</tr>
							</template>
						</tbody>
					</table>

				</div>
			</template>

			<div slot="optionsMenu">
				<!-- Additonal settings menu items -->
			</div>
		</aba-widget>
	</template>

	<script>
		/**
		 * @customElement
		 * @polymer
		 */
		class AbaRecordMapWidget extends abasWidgets.CompanyBehavior(abasWidgets.CompanySettingsBehavior(ABAS.WidgetBehavior(Polymer.Element))) {
			constructor() {
				super();
				this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
				this._boundRevertSettings = this._revertSettings.bind(this);

				this.loadResources(this.resolveUrl(this.importPath + "locales.json"));
				this.mySelf = this;
				this.greenIcon = { url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png" };
			}
			static get is() { return "aba-record-map-widget"; }
			static get properties() {
				return {
					widgetTitle: { type: String, value: "Map" },
					/* subscription stuff */
					messageChannel: { type: String, value: "default" },
					subscriptions: {
						type: Array,
						value: () => {
							return [
								{ topic: "0:1", fields: ["str", "nort", "staat"] }
							];
						}
					},
					_receivedMessage: { type: Object },
					_databaseList: { type: Array, value: [] },
					_databaseMetadata: { type: Array, value: [] },
					_activeIndex: { type: Number },
					/* maps */
					googleMapsApiKey: { type: String },
					mapQuery: { type: String },
					mapStyles: {
						type: Object, value: [
							{
								// stylers: [{ saturation: -90 }]
							}
						]
					}
				};
			}

			/**
			 * Array of strings describing multi-property observer methods and their
			 * dependant properties
			 */
			static get observers() {
				return [
					"_initialize(_configuration, company)",
					"_subscribe(subscriptions, messageChannel)",
					"_handleMessage(_receivedMessage)",
					"resultsChanged(googleMapsResults, googleMapsResults.*, googleMapsResults.splices)",
					"_preserveSettings(editMode)"
				];
			}

			/**
			 * Called every time the element is inserted into the DOM. Useful for
			 * running setup code, such as fetching resources or rendering.
			 * Generally, you should try to delay work until this time.
			 */
			connectedCallback() {
				super.connectedCallback();
				this.addEventListener("settings-apply", this._boundfireUpdateAttribute);
				this.addEventListener("settings-closed", this._boundRevertSettings);
			}

			disconnectedCallback() {
				super.disconnectedCallback();
				this.removeEventListener("settings-apply", this._boundfireUpdateAttribute);
				this.removeEventListener("settings-closed", this._boundRevertSettings);
			}

			async _initialize(_configuration, company) {
				if (!_configuration || !company) return;
				return abasWidgets.API.fetchDatabases({
					erpBaseUrl: _.get(_configuration, "api.erpBaseURL"),
					companyHref: company.href
				}).then((dbList) => {
					this.set("_databaseList", dbList);
				});
			}

			_subscribe(subscriptions, messageChannel) {
				if (!messageChannel) {
					this.unsubscribeTopics();
					return;
				}
				this.unsubscribeTopics();
				// console.log(subscriptions);
				let topics = _.map(subscriptions, "topic");
				if (!_.isEmpty(topics)) {
					this.subscribeTopics({
						channel: messageChannel,
						topics: topics,
						handler: (data, envelope) => {
							// return if it's my own message
							if (_.get(envelope, "headers.sender", "") === this.id) return;
							let value = data.id || data.sn || "";
							this.set("_receivedMessage", { topic: envelope.topic, value: value });
						}
					});
				}
			}

			_handleMessage(message) {
				if (_.isEmpty(message)) return "";
				console.log("_handleMessage", message);
				let subscription = _.find(this.subscriptions, { topic: message.topic });
				// get record data
				let headers = new Headers();
				headers.set("accept", "application/abas.objects+json");
				headers.set("content-type", "application/json");
				return auth0Fetch(`${_.get(this._configuration, "api.erpBaseURL")}${this.company.href}/obj/data/${message.topic}/${message.value}?headFields=${subscription.fields}`, {
					headers: headers
				}).then((response) => {
					if (response.ok) {
						return response.json();
					}
					throw new Error("Pffrrrrr");
				}).then(data => {
					return _.get(data, "content.data.head.fields");
				}).then(record => {
					let searchFieldInput = _.map(record, (el) => { return el.text || el.value; }).join(", ");
					this.mapQuery = searchFieldInput;
					this.set("mapQuery", searchFieldInput);
					console.log("mapQuery: ", searchFieldInput);
					if (searchFieldInput) {
						this.$.gps.search();
					}
					return searchFieldInput;
				});
			}

			/* SETTINGS */
			/* Events: Subscriptions */
			_onTapAddSubscription(event) {
				let selectedDatabase = event.detail;
				if (_.isEmpty(selectedDatabase.tableSpec)) return;
				// topic already in table
				let topics = _.map(this.subscriptions, "topic");
				if (topics.includes(selectedDatabase.tableSpec)) return;
				// add new subscription
				this.push(`subscriptions`, { topic: selectedDatabase.tableSpec, fields: [] });
			}
			_onTapDeleteSubscription(event) {
				const index = event.model.__data.index;
				this.splice("subscriptions", index, 1);
			}
			_onTapEditSubscription(event) {
				const index = event.model.__data.index;
				const topic = this.subscriptions[index].topic;
				let datasource = _.find(this._databaseList, { tableSpec: topic });
				if (!datasource || _.isEmpty(datasource.link)) {
					return;
				}
				const erpBaseUrl = _.get(this._configuration, "api.erpBaseURL");
				const datasourceHref = datasource.link.href;
				abasWidgets.API.fetchMetadata({
					erpBaseUrl: erpBaseUrl,
					datasourceHref: datasourceHref
				}).then((metadata) => {
					this.set("_databaseMetadata", metadata);
					this.set("_activeIndex", index);
				});
			}
			_getLabelFor(topic) {
				let datasource = _.find(this._databaseList, { tableSpec: topic });
				return datasource.title + " --- " + this.localize("settings.subscription.add.field");
			}
			/* Events: Fields of subscriptions */
			_subIsInEditMode(activeIndex, index) {
				return activeIndex == index;
			}
			_addField(event) {
				const index = event.model.__data.index;
				let selectedField = event.detail;
				if (this.subscriptions[index].fields.includes(selectedField.name)) return;
				this.push(`subscriptions.${index}.fields`, selectedField.name);
			}
			_deleteField(event) {
				const index = event.model.__data.field_index;
				const parentIndex = event.model.parentModel.__data.index;
				this.splice(`subscriptions.${parentIndex}.fields`, index, 1);
			}

			resultsChanged() {
				if (this.googleMapsResults && this.googleMapsResults.length > 0) {
					this.googleMapsResultsLongitude = this.googleMapsResults[0].longitude;
					this.googleMapsResultsLatitude = this.googleMapsResults[0].latitude;

					var mymap = Polymer.dom(this.root).querySelector("google-map");
					var marker = Polymer.dom(this.root).querySelector("google-map-marker");
					let infoH2 = Polymer.dom(marker).querySelector("h2");
					let infoSpan = Polymer.dom(marker).querySelector("span");
					if (marker != null && infoH2 != null && infoSpan != null) {
						this._updateInfoWindow(
							marker,
							infoH2,
							infoSpan,
							this.googleMapsResults,
							0
						);
					}
				}
			}

			/* Workaround to force google maps to update info window of google map markers. */
			_updateInfoWindow(marker, infoH2, infoSpan, result, index) {
				marker.removeChild(infoH2);
				marker.removeChild(infoSpan);
				var newH2 = document.createElement("h2");
				var newH2Text = document.createTextNode(result[index].name);
				newH2.appendChild(newH2Text);
				marker.appendChild(newH2);
				var newSpan = document.createElement("span");
				var newSpanText = document.createTextNode(
					result[index].formatted_address
				);
				newSpan.appendChild(newSpanText);
				marker.appendChild(newSpan);
			}

			_fireUpdateAttribute() {
				this.fireAttributesUpdate([
					{
						name: "widgetTitle",
						value: this.widgetTitle
					}, {
						name: "messageChannel",
						value: this.messageChannel
					}, {
						name: "subscriptions",
						value: this.subscriptions
					}, {
						name: "googleMapsApiKey",
						value: this.googleMapsApiKey
					}
				]);
				// update subscriptions on settings-closed
				this._subscribe(this.subscriptions, this.messageChannel);
			}

			_revertSettings() {
				this.set("company", this._preservedSettings.company);
				this.set("widgetTitle", this._preservedSettings.widgetTitle);
				this.set("messageChannel", this._preservedSettings.messageChannel);
				this.set("subscriptions", this._preservedSettings.subscriptions);
				this.set("googleMapsApiKey", this._preservedSettings.googleMapsApiKey);
				// update subscriptions on settings-closed
				this._subscribe(this.subscriptions, this.messageChannel);
			}

			_preserveSettings(editMode) {
				if (editMode) {
					this.set("_preservedSettings", Object.assign({}, {
						company: this.company,
						widgetTitle: this.widgetTitle,
						messageChannel: this.messageChannel,
						subscriptions: this.subscriptions,
						googleMapsApiKey: this.googleMapsApiKey
					}));
				}
			}
		}
		customElements.define(AbaRecordMapWidget.is, AbaRecordMapWidget);
	</script>
</dom-module>